html,
body,
#root,
.App {
  height: 100%;
}

.App {
  display: flex;
  padding: 2em;
}

.carousel {
  margin: auto;
  width: 100%;
  min-width: 800px;
}

.carousel-item img {
  object-fit: 100%;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 8px;
  background: #666;
}
